<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>

    <!-- Importing fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Quicksand:300,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/profile.css">
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">HelloBooks</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="library.html">Library <span class="sr-only">(current)</span></a></li>
            <li><a href="borrow.html">Borrow</a></li>
            <li><a href="history.html">History</a></li>
            <li><a href="../index.html">Logout</a></li>
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    
    <div class="container">
      <div class="row profile">

        <div class="col-md-3">
          <div class="profile-sidebar">
            <div class="profile-user-pic">
              <img src="http://guarddome.com/assets/images/profile-img.jpg" alt="profile picture" class="img img-responsive img-circle">
            </div>
            <div class="profile-user-title">
              <div class="profile-user-name">
                Ademola Ariya
              </div>
              <div class="profile-user-job">
                Developer
              </div>
              <!--<div class="profile-user-buttons">
                <button class="btn btn-success btn-sm">Update</button>
                <button class="btn btn-danger btn-sm">Message</button>
              </div>-->
              <div class="profile-user-menu">
                <ul class="nav">
                  <li><a href=""><i class="glyphicon glyphicon-home"></i> Overview</a></li>
                  <li><a href=""><i class="glyphicon glyphicon-user"></i> Account status</a></li>
                  <li><a href=""><i class="glyphicon glyphicon-exclamation-sign"></i> Books to be returned</a></li>
                  <li><a href=""><i class="glyphicon glyphicon-book"></i> Return books</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam vitae, placeat illo qui, impedit autem velit repellat totam sapiente, ea unde tempore nostrum ipsa itaque doloribus quod harum fugiat voluptate.</p></div>
      </div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>