body {
	background-color: #16534e;
	font-family:  'Quicksand', sans-serif;
	color: black;
	/*background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png)*/
}

a {
	color: #16534e;
}